<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Job Tracker{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('home') }}">Job Tracker</a>
        
        {% if current_user.is_authenticated %}
        &nbsp;|&nbsp; <a href="{{ url_for('dashboard') }}">Dashboard</a>
        &nbsp;|&nbsp; Logged in as {{ current_user.username }}
        &nbsp;|&nbsp; <a href="{{ url_for('logout') }}">Logout</a>
    {% endif %}
    </nav>

    <main>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <p class="flash flash-{{ category }}">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </main>
</body>
</html>